@charset "UTF-8";
/*============================================
============================================*/

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #ffffff;
}

body {
  text-align: center;
  background: url("img/back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}

#pagebody {
  width: 800px;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  #pagebody {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
}

.hidden-sm {
  display: block;
}

@media (max-width: 576px) {
  .hidden-sm {
    display: none;
  }
}

.visible-sm {
  display: none;
}

@media (max-width: 576px) {
  .visible-sm {
    display: block;
  }
}

.row {
  display: flex;
  margin: -5px -10px;
}

@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
}

.col-sm {
  margin: 5px 10px;
}


@media (max-width: 576px) {
  .col-sm {
    flex-direction: column;
  }
}

/*============================================
  ヘッダー
============================================*/

#header {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 205, 0.7);
  border: 5px solid #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px 25px;
}

@media (max-width: 576px) {
  #header {
    padding: 5px 10px;
  }
}


h1 {
  font-size: 2rem;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
}

h1 a {
  text-decoration: none;
}

/*============================================
  メニュー
============================================*/

#menu {
  display: flex;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  #menu {
    flex-direction: column;
    background-color: rgba(0, 0, 205, 0.7);
    border: 5px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
  }
}

.menu-item {
  height: 42px;
  list-style-type: none;
  margin-right: 5px;
  background-color: rgba(0, 0, 205, 0.7);
  border: 5px solid #ffffff;
  border-radius: 10px;
  flex-grow: 1;
}

.menu-item:last-child {
  margin-right: 0;
}

@media (max-width: 576px) {
  .menu-item {
    background: none;
    border: none;
    text-align: left;
    height: auto;
    margin-bottom: 5px;
    margin-right: 0;
  }

  .menu-item:last-child {
    margin-bottom: 0;
  }
}

#menu a {
  display: block;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 576px) {
  #menu a {
    text-align: left;
    line-height: 1.5;
  }
}

/*============================================
  サブメニュー　現未使用
============================================*/

div#submenu {
  width: 160px;
  margin: 10px 10px 10px 25px;
  float: left;
}

div#submenu_header {
  height: 26px;
  padding: 4px 0px 0px 0px;
  background-image: url("images/bg_submenu_header.gif");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #cccccc;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
}

ul#submenu_body {
  padding-bottom: 6px;
  background-image: url("images/bg_submenu_footer.gif");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #cccccc;
}

ul#submenu_body li {
  font-size: 90%;
  list-style-type: none;
  display: inline;
}

ul#submenu_body li a {
  display: block;
  margin: 0px 4px 0px 4px;
  padding: 2px 0px 2px 20px;
  background-color: #eeeeee;
  text-decoration: none;
}

ul#submenu_body li a:hover {
  background-color: #ffffff;
}

/*============================================
  中央
============================================*/

#content {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 205, 0.7);
  border: 5px solid #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 15px 20px 20px;
}

@media (max-width: 576px) {
  #content {
    padding: 15px 10px 10px;
  }
}

div#news {
  background-repeat: no-repeat;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
  background-repeat: no-repeat;
  background-position: left center;
}

h2:first-child {
  margin-top: 0;
}

h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

hr {
  margin: 10px 0;
  border: solid 1px #cccccc;
}

ul#list {
  padding: 0px 0px 0px 60px;
}

.program-main {
  font-size: 1.2rem;
}

.program-sub {
  font-size: 1.1rem;
}

/*
  JFドットM+12
  http://jikasei.me/font/jf-dotfont/
  改変・再配布・商業的利用に制限なし。

  http://brian.hatenablog.jp/entry/how-to-set-web-fonts
  の方法に従い、サブセットの作成と WOFF への変換を行った。
*/

/* JIS 第二水準 (オリジナル) */

@font-face {
  font-family: "JF-Dot-MPlus12";
  src: url("fonts/JF-Dot-MPlus12.woff2") format('woff2'), url("fonts/JF-Dot-MPlus12.woff") format('woff');
}

/* JIS 第一水準 */

@font-face {
  font-family: "JF-Dot-MPlus12-JIS1";
  src: url("fonts/JF-Dot-MPlus12-JIS1.woff2") format('woff2'), url("fonts/JF-Dot-MPlus12-JIS1.woff") format('woff');
}

/* 漢字なし */

@font-face {
  font-family: "JF-Dot-MPlus12-No-Kanji";
  src: url("fonts/JF-Dot-MPlus12-No-Kanji.woff2") format('woff2'), url("fonts/JF-Dot-MPlus12-No-Kanji.woff") format('woff');
}

/*
  ドットフォント使用する箇所に付与するクラス。
  必要な文字種に合わせて、font-family を 1 つだけ選択すること。
  Chrome 55 では、使用していない Web フォントはダウンロードされないことを確認している。
*/

.dot-font {
  /* font-family: "JF-Dot-MPlus12"; */
  /* font-family: "JF-Dot-MPlus12-JIS1"; */
  font-family: "JF-Dot-MPlus12-No-Kanji";
  letter-spacing: 0.167em;
  /* 1/12 = 2 dot */
}
