@charset "UTF-8";
/*============================================
============================================*/

* {
  color: #ffffff;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

b {
  color: inherit;
}

body {
  background: url("img/back.jpg") no-repeat center center / cover fixed;
  font-family: sans-serif;
  text-align: center;
}

#pagebody {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: left;
  width: 800px;
}

@media (max-width: 576px) {
  #pagebody {
    margin: 0;
    padding: 0 10px;
    width: 100%;
  }
}

.hidden-sm {
  display: block;
}

@media (max-width: 576px) {
  .hidden-sm {
    display: none;
  }
}

.visible-sm {
  display: none;
}

@media (max-width: 576px) {
  .visible-sm {
    display: block;
  }
}

.row {
  display: flex;
  margin: -5px -10px;
}

@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
}

.col-sm {
  margin: 5px 10px;
}


@media (max-width: 576px) {
  .col-sm {
    flex-direction: column;
  }
}

/*============================================
  ヘッダー
============================================*/

#header {
  background-color: rgba(0, 0, 205, 0.7);
  border-radius: 10px;
  border: 5px solid #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 25px;
}

@media (max-width: 576px) {
  #header {
    padding: 5px 10px;
  }
}


h1 {
  font-size: 2rem;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
}

h1 a {
  text-decoration: none;
}

/*============================================
  メニュー
============================================*/

#menu {
  display: flex;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  #menu {
    background-color: rgba(0, 0, 205, 0.7);
    border-radius: 10px;
    border: 5px solid #ffffff;
    flex-direction: column;
    padding: 10px;
  }
}

.menu-item {
  background-color: rgba(0, 0, 205, 0.7);
  border-radius: 10px;
  border: 5px solid #ffffff;
  flex: 1;
  height: 42px;
  list-style-type: none;
  margin-right: 5px;
}

.menu-item:last-child {
  margin-right: 0;
}

@media (max-width: 576px) {
  .menu-item {
    background: none;
    border: none;
    height: auto;
    margin-bottom: 5px;
    margin-right: 0;
    text-align: left;
  }

  .menu-item:last-child {
    margin-bottom: 0;
  }
}

#menu a {
  display: block;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 576px) {
  #menu a {
    line-height: 1.5;
    text-align: left;
  }
}

/*============================================
  サブメニュー　現未使用
============================================*/

div#submenu {
  float: left;
  margin: 10px 10px 10px 25px;
  width: 160px;
}

div#submenu_header {
  background-color: #cccccc;
  background-image: url("images/bg_submenu_header.gif");
  background-position: top;
  background-repeat: no-repeat;
  font-size: 90%;
  font-weight: bold;
  height: 26px;
  padding: 4px 0px 0px 0px;
  text-align: center;
}

ul#submenu_body {
  background-color: #cccccc;
  background-image: url("images/bg_submenu_footer.gif");
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 6px;
}

ul#submenu_body li {
  display: inline;
  font-size: 90%;
  list-style-type: none;
}

ul#submenu_body li a {
  background-color: #eeeeee;
  display: block;
  margin: 0px 4px 0px 4px;
  padding: 2px 0px 2px 20px;
  text-decoration: none;
}

ul#submenu_body li a:hover {
  background-color: #ffffff;
}

/*============================================
  中央
============================================*/

#content {
  background-color: rgba(0, 0, 205, 0.7);
  border-radius: 10px;
  border: 5px solid #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 20px 20px;
}

@media (max-width: 576px) {
  #content {
    padding: 15px 10px 10px;
  }
}

div#news {
  background-repeat: no-repeat;
}

h2 {
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 20px;
  margin: 10px 0;
}

h2:first-child {
  margin-top: 0;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  margin-bottom: 10px;
}

hr {
  border: solid 1px #cccccc;
  margin: 10px 0;
}

ul#list {
  padding: 0px 0px 0px 60px;
}

.program-main {
  font-size: 1.2rem;
}

.program-sub {
  font-size: 1.1rem;
}

.alert {
  border: 3px solid #fff;
  padding: 1rem;
}

.alert > *:first-child {
  margin-top: 0;
}

.alert > *:last-child {
  margin-bottom: 0;
}

.alert-error {
  background-color: lightpink;
  border-color: red;
}

.alert-error h3,
.alert-error p,
.alert-error a {
  color: red;
}


.alert-info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-info h3,
.alert-info p,
.alert-info a {
  color: #0c5460;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.alert-warning h3,
.alert-warning p,
.alert-warning a {
  color: #664d03;
}

.currentConcert-section {
  margin: 0 0 1.5em 0;
}

.currentConcert-section-title {
  margin: 0 0 0.5em 0;
}

/*
  JFドットM+12
  http://jikasei.me/font/jf-dotfont/
  改変・再配布・商業的利用に制限なし。

  http://brian.hatenablog.jp/entry/how-to-set-web-fonts
  の方法に従い、サブセットの作成と WOFF への変換を行った。
*/

/* JIS 第二水準 (オリジナル) */

@font-face {
  font-family: "JF-Dot-MPlus12";
  src: url("fonts/JF-Dot-MPlus12.woff2") format('woff2'), url("fonts/JF-Dot-MPlus12.woff") format('woff');
}

/* JIS 第一水準 */

@font-face {
  font-family: "JF-Dot-MPlus12-JIS1";
  src: url("fonts/JF-Dot-MPlus12-JIS1.woff2") format('woff2'), url("fonts/JF-Dot-MPlus12-JIS1.woff") format('woff');
}

/* 漢字なし */

@font-face {
  font-family: "JF-Dot-MPlus12-No-Kanji";
  src: url("fonts/JF-Dot-MPlus12-No-Kanji.woff2") format('woff2'), url("fonts/JF-Dot-MPlus12-No-Kanji.woff") format('woff');
}

/*
  ドットフォント使用する箇所に付与するクラス。
  必要な文字種に合わせて、font-family を 1 つだけ選択すること。
  Chrome 55 では、使用していない Web フォントはダウンロードされないことを確認している。
*/

.dot-font {
  /* font-family: "JF-Dot-MPlus12"; */
  /* font-family: "JF-Dot-MPlus12-JIS1"; */
  font-family: "JF-Dot-MPlus12-No-Kanji";
  letter-spacing: 0.167em;
  /* 1/12 = 2 dot */
}


/*============================================
  動画
============================================*/
.movie-container > iframe {
  max-width: 100%;;
}
